# Global
TZ=UTC

# PostgreSQL
POSTGRES_DB=banking_platform
POSTGRES_USER=banking_admin
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_PORT=5432

# SonarQube
SONARQUBE_DB=banking_platform
SONARQUBE_PORT=9000

# Jenkins
JENKINS_PORT=8080

# Prometheus
PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=30d

# Grafana
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_grafana_admin_password
